@{
    ViewBag.Title = "About";
}

<div class="container-fluid">
    <div class="row">
        <h2>About Me</h2>
        <h3>Biography summary</h3>
        <br><br>
        <div class="col-md-6">
            <p>
                My name is Tisetso Khumalo. I am a student at the University of Pretoria currently studying BIS (Information Science).
                Throughout the course of my studies, I have learned technical skills such as C#, JavaScript, MySQL and more. I have also adapted interpersonal skills that allow to be a good team player.
                Upon the completion of my degree, I aspire to become a business analyst or web developer.
            </p>
        </div>
        <div class="col-lg-2">
            <img style="width:200px; height:200px" src="~/Media/Images/Tisetso.jpeg" />

        </div>
    </div>
</div>
